In [1]:
json=[
	{
		"job_id": 1,
		"job_name": "Job1",
		"task_list": {
			"read": [
				"drop"
			],
			"drop": [
				"write"
			],
			"write": []
		},
		"property": {
			"read": {
				"task_name": "read",
				"filename": "path/to/a1.csv",
				"sep": ","
			},
			"drop": {
				"task_name": "drop",
				"column_name": "date"
			},
			"write": {
				"task_name": "write",
				"filename": "path/to/b1.csv",
				"sep": ","
			}
		}
	},
	{
		"job_id": 2,
		"job_name": "Job2",
		"task_list": {
			"read": [
				"drop"
			],
			"drop": [
				"write"
			],
			"write": []
		},
		"property": {
			"read": {
				"task_name": "read",
				"filename": "path/to/a2.csv",
				"sep": ","
			},
			"drop": {
				"task_name": "drop",
				"column_name": "date"
			},
			"write": {
				"task_name": "write",
				"filename": "path/to/b2.csv",
				"sep": ","
			}
		}
	},
	{
		"job_id": 3,
		"job_name": "Job3",
		"task_list": {
			"read": [
				"drop"
			],
			"drop": [
				"write"
			],
			"write": []
		},
		"property": {
			"read": {
				"task_name": "read",
				"filename": "path/to/a3.csv",
				"sep": ","
			},
			"drop": {
				"task_name": "drop",
				"column_name": "date"
			},
			"write": {
				"task_name": "write",
				"filename": "path/to/b3.csv",
				"sep": ","
			}
		}
	},
	{
		"job_id": 4,
		"job_name": "Job4",
		"task_list": {
			"read": [
				"drop"
			],
			"drop": [
				"write"
			],
			"write": []
		},
		"property": {
			"read": {
				"task_name": "read",
				"filename": "path/to/a4.csv",
				"sep": ","
			},
			"drop": {
				"task_name": "drop",
				"column_name": "date"
			},
			"write": {
				"task_name": "write",
				"filename": "path/to/b4.csv",
				"sep": ","
			}
		}
	},
	{
		"job_id": 5,
		"job_name": "Job5",
		"task_list": {
			"read": [
				"drop"
			],
			"drop": [
				"write"
			],
			"write": []
		},
		"property": {
			"read": {
				"task_name": "read",
				"filename": "path/to/a5.csv",
				"sep": ","
			},
			"drop": {
				"task_name": "drop",
				"column_name": "date"
			},
			"write": {
				"task_name": "write",
				"filename": "path/to/b5.csv",
				"sep": ","
			}
		}
	},
	{
		"job_name": "Job6",
		"task_list": {
			"read": [
				"drop"
			],
			"drop": [
				"write"
			],
			"write": []
		},
		"property": {
			"read": {
				"task_name": "read",
				"filename": "path/to/a6.csv",
				"sep": ","
			},
			"drop": {
				"task_name": "drop",
				"column_name": "date"
			},
			"write": {
				"task_name": "write",
				"filename": "path/to/b6.csv",
				"sep": ","
			}
		},
		"job_id": 6
	}
]

In [6]:
jj={	"job_id": 6,
		"job_name": "Job6",
		"task_list": {
			"read": [
				"drop"
			],
			"drop": [
				"write"
			],
			"write": []
		},
		"property": {
			"read": {
				"task_name": "read",
				"filename": "path/to/a6.csv",
				"sep": ","
			},
			"drop": {
				"task_name": "drop",
				"column_name": "date"
			},
			"write": {
				"task_name": "write",
				"filename": "path/to/b6.csv",
				"sep": ","
			}
		}
}

In [7]:
jj in json

True

In [8]:
json['job_id']

TypeError: list indices must be integers or slices, not str

In [34]:
tjson =	{
		"1":{
			
			"job_name": "Job1",
			"task_list": {
				"read": [
					"drop"
				],
				"drop": [
					"write"
				],
				"write": []
			},
			"property": {
				"read": {
					"task_name": "read",
					"filename": "path/to/a1.csv",
					"sep": ","
				},
				"drop": {
					"task_name": "drop",
					"column_name": "date"
				},
				"write": {
					"task_name": "write",
					"filename": "path/to/b1.csv",
					"sep": ","
				}
			}
		},
	
		"2":{
			
			"job_name": "Job2",
			"task_list": {
				"read": [
					"drop"
				],
				"drop": [
					"write"
				],
				"write": []
			},
			"property": {
				"read": {
					"task_name": "read",
					"filename": "path/to/a2.csv",
					"sep": ","
				},
				"drop": {
					"task_name": "drop",
					"column_name": "date"
				},
				"write": {
					"task_name": "write",
					"filename": "path/to/b2.csv",
					"sep": ","
				}
			}
		},
	
		"3":{
			
			"job_name": "Job3",
			"task_list": {
				"read": [
					"drop"
				],
				"drop": [
					"write"
				],
				"write": []
			},
			"property": {
				"read": {
					"task_name": "read",
					"filename": "path/to/a3.csv",
					"sep": ","
				},
				"drop": {
					"task_name": "drop",
					"column_name": "date"
				},
				"write": {
					"task_name": "write",
					"filename": "path/to/b3.csv",
					"sep": ","
				}
			}
		},
	
		"4":{
			
			"job_name": "Job4",
			"task_list": {
				"read": [
					"drop"
				],
				"drop": [
					"write"
				],
				"write": []
			},
			"property": {
				"read": {
					"task_name": "read",
					"filename": "path/to/a4.csv",
					"sep": ","
				},
				"drop": {
					"task_name": "drop",
					"column_name": "date"
				},
				"write": {
					"task_name": "write",
					"filename": "path/to/b4.csv",
					"sep": ","
				}
			}
		}
	}

In [35]:
tj={}

In [36]:
tj["4"]={
		
			"job_name": "Job4",
			"task_list": {
				"read": [
					"drop"
				],
				"drop": [
					"write"
				],
				"write": []
			},
			"property": {
				"read": {
					"task_name": "read",
					"filename": "path/to/a4.csv",
					"sep": ","
				},
				"drop": {
					"task_name": "drop",
					"column_name": "date"
				},
				"write": {
					"task_name": "write",
					"filename": "path/to/b4.csv",
					"sep": ","
				}
			}
		}

In [25]:
for x in tjson:
    if list(tj.values()) in list(x.values()):
        print('hi')
    else:print('no')

no
no
no
no

In [43]:
list(tj.values())

[{'job_name': 'Job4',
  'task_list': {'read': ['drop'], 'drop': ['write'], 'write': []},
  'property': {'read': {'task_name': 'read',
    'filename': 'path/to/a4.csv',
    'sep': ','},
   'drop': {'task_name': 'drop', 'column_name': 'date'},
   'write': {'task_name': 'write', 'filename': 'path/to/b4.csv', 'sep': ','}}}]

In [51]:
list(tj.values())[0] in list(tjson.values())

True

In [50]:
list(tj.values())[0] == list(tjson.values())[3]

True

In [58]:
list(tjson.keys()).pop()

'4'

In [70]:
tjson.pop('1')

{'job_name': 'Job1',
 'task_list': {'read': ['drop'], 'drop': ['write'], 'write': []},
 'property': {'read': {'task_name': 'read',
   'filename': 'path/to/a1.csv',
   'sep': ','},
  'drop': {'task_name': 'drop', 'column_name': 'date'},
  'write': {'task_name': 'write', 'filename': 'path/to/b1.csv', 'sep': ','}}}

dict_keys(['job_name', 'task_list', 'property'])

In [99]:
tjt={'4': {
  'task_list': {'read': ['drop'], 'drop': ['write'], 'write': []},
  'property': {'read': {'task_name': 'read',
    'filename': 'path/to/a4.csv',
    'sep': ','},
   'drop': {'task_name': 'drop', 'column_name': 'date'},
   'write': {'task_name': 'write', 'filename': 'path/to/b4.csv', 'sep': ','}}}}

In [132]:
if tjt['4'].keys() != tjson[list(tjson.keys())[0]].keys():
    print('wjhat??')

wjhat??

In [133]:
for data_keys in ['job_name','task_list','property']:
    if not data_keys in tj['4'].keys():
        print('aa')

In [134]:
tj['4']

{'job_name': 'Job4',
 'task_list': {'read': ['drop'], 'drop': ['write'], 'write': []},
 'property': {'read': {'task_name': 'read',
   'filename': 'path/to/a4.csv',
   'sep': ','},
  'drop': {'task_name': 'drop', 'column_name': 'date'},
  'write': {'task_name': 'write', 'filename': 'path/to/b4.csv', 'sep': ','}}}

In [135]:
tjson

{'2': {'job_name': 'Job2',
  'task_list': {'read': ['drop'], 'drop': ['write'], 'write': []},
  'property': {'read': {'task_name': 'read',
    'filename': 'path/to/a2.csv',
    'sep': ','},
   'drop': {'task_name': 'drop', 'column_name': 'date'},
   'write': {'task_name': 'write', 'filename': 'path/to/b2.csv', 'sep': ','}}},
 '3': {'job_name': 'Job3',
  'task_list': {'read': ['drop'], 'drop': ['write'], 'write': []},
  'property': {'read': {'task_name': 'read',
    'filename': 'path/to/a3.csv',
    'sep': ','},
   'drop': {'task_name': 'drop', 'column_name': 'date'},
   'write': {'task_name': 'write', 'filename': 'path/to/b3.csv', 'sep': ','}}},
 '4': {'job_name': 'Job4',
  'task_list': {'read': ['drop'], 'drop': ['write'], 'write': []},
  'property': {'read': {'task_name': 'read',
    'filename': 'path/to/a4.csv',
    'sep': ','},
   'drop': {'task_name': 'drop', 'column_name': 'date'},
   'write': {'task_name': 'write', 'filename': 'path/to/b4.csv', 'sep': ','}}}}

In [136]:
json[0]

{'job_id': 1,
 'job_name': 'Job1',
 'task_list': {'read': ['drop'], 'drop': ['write'], 'write': []},
 'property': {'read': {'task_name': 'read',
   'filename': 'path/to/a1.csv',
   'sep': ','},
  'drop': {'task_name': 'drop', 'column_name': 'date'},
  'write': {'task_name': 'write', 'filename': 'path/to/b1.csv', 'sep': ','}}}

In [208]:
from collections import deque

# 노드의 개수와 간선의 개수를 입력 받기
v, e = map(int, input().split())

# 모든 노드에 대한 진입차수는 0으로 초기화
indegree = [0] * (v + 1)

# 각 노드에 연결된 간선 정보를 담기 위한 연결 리스트 초기화
graph = [[] for i in range(v + 1)]

# 방향 그래프의 모든 간선 정보를 입력 받기
for _ in range(e):
    a, b = map(int, input().split())
    graph[a].append(b) # 정점 A에서 B로 이동 가능
    # 진입 차수를 1 증가
    indegree[b] += 1

# 위상 정렬 함수
def topology_sort():
    result = [] # 알고리즘 수행 결과를 담을 리스트
    q = deque() # 큐 기능을 위한 deque 라이브러리 사용

    # 처음 시작할 때는 진입차수가 0인 노드를 큐에 삽입
    for i in range(1, v + 1):
        if indegree[i] == 0:
            q.append(i)
            

    # 큐가 빌 때까지 반복
    while q:
        # 큐에서 원소 꺼내기
        now = q.popleft()
        result.append(now)
        print('indegree',indegree)
        print('q:',q) 
        print('result:',result) 
        # 해당 원소와 연결된 노드들의 진입차수에서 1 빼기
        for i in graph[now]:
            indegree[i] -= 1
            # 새롭게 진입차수가 0이 되는 노드를 큐에 삽입            
            if indegree[i] == 0:
                q.append(i)
           

    # 위상 정렬을 수행한 결과 출력
    for i in result:
        print(i, end=' ')

topology_sort()

indegree [0, 0, 1, 1, 2, 1, 2, 1]
q: deque([])
result: [1]
indegree [0, 0, 0, 1, 2, 0, 2, 1]
q: deque([5])
result: [1, 2]
indegree [0, 0, 0, 0, 2, 0, 1, 1]
q: deque([3])
result: [1, 2, 5]
indegree [0, 0, 0, 0, 2, 0, 0, 1]
q: deque([6])
result: [1, 2, 5, 3]
indegree [0, 0, 0, 0, 1, 0, 0, 1]
q: deque([])
result: [1, 2, 5, 3, 6]
indegree [0, 0, 0, 0, 0, 0, 0, 1]
q: deque([])
result: [1, 2, 5, 3, 6, 4]
indegree [0, 0, 0, 0, 0, 0, 0, 0]
q: deque([])
result: [1, 2, 5, 3, 6, 4, 7]
1 2 5 3 6 4 7

In [255]:
jj={
			"read": [
				"drop"
			],
			"drop": [
				"write"
			],
			"write": []
  		
		}

In [256]:
jj2={
    "1": ["2","5"],
    "2": ["3","6"],
    "3": ["4"],
    "4": ["7"],
    "5": ["6"],
    "6": ["4"],
    "7": [],
		
		}

In [257]:
type(jc[y])

int

In [281]:
from collections import deque

class FindOrder:
    """ 
    김석재
    DAG 를 활용해 순서를 정하는 함수
    """
    def __init__(self,task_list):
        self.task_count={}
        self.task_list=task_list
        self.qu=deque()
        self.result=[]
        #_find_qu 함수를 재활용 하기위해 =1 값으로 통일
        for x in self.task_list:
            self.task_count[x]=1        
    
    def _find_qu(self,qu=None):
        """ 
        실행 순서대로 큐를 쌓는 함수        
        첫번째만 qu가없어 모든 진입차수를 -1 해주고 시작한다 
        (시작값을 1로 줬기때문에 0을 찾는것과 마찬가지)
        qu가 있을때는 qu다음에 나오는 값들의 진입값만 -1을 하고
        진입차수가 0인것을 찾아 qu에 넣는다
        """
        if qu :
            task_list = self.task_list[qu]
        else : task_list = self.task_list
        
        for x in task_list:
            self.task_count[x]-=1
            if self.task_count[x] == 0:
                self.qu.append(x)
        
    def __call__(self):            
        """
        받은 데이터를 바탕으로 진입차수를 계산한 후
        큐 스택이 없어질때까지 반목문을 돌며 순서를 찾는다
        순환되는 데이터라면 큐 스택이 쌓이지않는다
        """
        for x in self.task_list:
            for y in self.task_list[x]:
                self.task_count[y]+=1   
        self._find_qu()
        
        while self.qu:         
            select_qu = self.qu.popleft()
            self.result.append(select_qu)
            
            self._find_qu(select_qu)
        if not self.result:
            return "CIRCULATION_VALUE"
        
        return self.result

In [290]:
bb=FindOrder(jj)

In [291]:
bb_list = bb()

In [268]:
pj={"property": {
			"read": {
				"task_name": "read",
				"filename": "raw/a6.csv",
				"sep": ","
			},
			"drop": {
				"task_name": "drop",
				"column_name": "date"
			},
			"write": {
				"task_name": "write",
				"filename": "result/a6.csv",
				"sep": ","
			}
		}}

In [308]:
    
class TaskExcutor:
    def read(self):
        self.df=pd.read_csv(f"./csv_data/{pj['property']['read']['filename']}")
        return self.df
        
    def drop(self):
        self.df=df.drop('date',axis=1)
        
    def write(self):
        self.df

In [309]:
task_excutor=TaskExcutor()

In [313]:
getattr(task_excutor,'read')()

        id                                               date  some_number
0     2319  517c73a165dd1af6d148fabf556733d34f4ce063c53f3f...            0
1     2326  2907ebff3f0c5ce111a0ff528ba0e295c696c08d5e3f21...           15
2     1966  7aafd27a81fb36b9327836058c0842d8270d01f48e6af7...            4
3     2326  4c837e5b59bd58c686b6b5f01b8ab3f3c4f41d9ccee8eb...           15
4     2319  790819539e8737ef0ca41096e35ce6a2349a8001c05d6f...            0
...    ...                                                ...          ...
9995  2326  d661183ab9e6c91601d41e385296b6e204cb44d632b1d1...          376
9996  1529  9f0ca3aaf39fb10878661cd0ec953e00313d604e16d6bc...           64
9997  1999  dd25bef1c6051ce8bce4198e6b54d91567ce2350cb1a60...           23
9998  2326  77078f76e392f4465a5ddc6414003e89c94f7b0a8d4ed0...           15
9999  2326  68d9114a9b9735a4f25e363c2ab02f1303bc1f9785a526...            0

[10000 rows x 3 columns]

In [310]:
task_excutor.read()

        id                                               date  some_number
0     2319  517c73a165dd1af6d148fabf556733d34f4ce063c53f3f...            0
1     2326  2907ebff3f0c5ce111a0ff528ba0e295c696c08d5e3f21...           15
2     1966  7aafd27a81fb36b9327836058c0842d8270d01f48e6af7...            4
3     2326  4c837e5b59bd58c686b6b5f01b8ab3f3c4f41d9ccee8eb...           15
4     2319  790819539e8737ef0ca41096e35ce6a2349a8001c05d6f...            0
...    ...                                                ...          ...
9995  2326  d661183ab9e6c91601d41e385296b6e204cb44d632b1d1...          376
9996  1529  9f0ca3aaf39fb10878661cd0ec953e00313d604e16d6bc...           64
9997  1999  dd25bef1c6051ce8bce4198e6b54d91567ce2350cb1a60...           23
9998  2326  77078f76e392f4465a5ddc6414003e89c94f7b0a8d4ed0...           15
9999  2326  68d9114a9b9735a4f25e363c2ab02f1303bc1f9785a526...            0

[10000 rows x 3 columns]

In [316]:
import pandas as pd
task_excutor=TaskExcutor()
for x in bb_list:
    print(x)
    if x == 'read':
        df=getattr(task_excutor,x)()
    elif x == 'drop':
        df=df.drop('date',axis=1)
    elif x == 'write':

SyntaxError: unexpected EOF while parsing (CreatorTemp/ipykernel_154180/2211582806.py, line 10)

In [300]:
df

        id  some_number
0     2319            0
1     2326           15
2     1966            4
3     2326           15
4     2319            0
...    ...          ...
9995  2326          376
9996  1529           64
9997  1999           23
9998  2326           15
9999  2326            0

[10000 rows x 2 columns]

In [243]:
pj['property']

{'property': {'read': {'task_name': 'read',
   'filename': 'path/to/a6.csv',
   'sep': ','},
  'drop': {'task_name': 'drop', 'column_name': 'date'},
  'write': {'task_name': 'write', 'filename': 'path/to/b6.csv', 'sep': ','}}}